<h1>Search Users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/search">
  <div class="form-group">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="id" placeholder="Search Users By ID">
      <button class="btn btn-primary" type="submit" id="search">search</button>
    </div>
  </div>
</form>